* {
    box-sizing: border-box;
}


.container {
    display: flex;
    align-self: center;
    justify-content: center;

}



.button{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20%;
    border-style:solid ;
    border-color: green;
    border-radius: 360px;
    padding: 40px 40px 40px
}

.line{
    position: absolute;
    width: 20px;
    background: green;
    height: 5px;
}


