* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}


.box{
    margin: auto;
    width: 300px;
    height: 140px;
    border: 10px dashed crimson;
}

.box.yellow{
    background: yellow;
}

.box.green{
    position: static;
    top: 70px;
    left: 150px;
    background: green;
}


.sub{
    position: absolute;
    top: 200px;
    left: 100px;
    width: 100px;
    height: 100px;
    background: darkorange;
    border: 10px solid crimson;
}